.main_banner {
    display: flex;
    width: 1060px;
    height: 300px;
    margin: 25px 0 25px 0;
    position: relative;
    top: 50px;
    align-items: center;
}

.main_banner_container {
    display: flex;
    width: 1060px;
    gap: 25px;
}

.main_banner_btn {
    display: flex;
    width: 30px;
    height: 60px;
    background-color: #fff;
    align-items: center;
    z-index: 2;
    position: absolute;
    justify-content: center;
    border-radius: 30px;
    opacity: .5;
}

.main_banner_prev {
    left: -75px;
}

.main_banner_next {
    right: -70px;
}

.SvgIcon_SvgIcon__root__svg__DKYBi {
    width: 16px;
    height: 16px;
}

.main_banner_element {
    display: flex;
    z-index: 1;
}

.main_banner_element_img {
    border-radius: 5px;
    width: 1060px;
    height: 300px;
}

.main_banner_element_float {
    display: flex;
    position: absolute;
    background-color: white;
    width: 330px;
    height: 145px;
    border-radius: 4px;
    margin: 130px 40px 0px 23px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.main_banner_element_float_title {
    display: flex;
    width: 290px;
    gap: 10px;
    flex-direction: column; 
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.main_banner_element_float_title :first-child {
    font-size: 20px;
    font-weight: 650;
    text-align: start;
}

.main_banner_element_float_title :last-child {
    font-size: 15px;
}

.main_banner_element_float_button {
    display: flex;
    margin-left: 20px;
}