* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.first-swiper {
  width: 1060px;
  overflow: visible !important;
}

button {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
}

.flex {
  display: flex;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e1e2e3;
  z-index: 999;
  background-color: #fff;
}

.nav {
  width: 90%;
  max-width: 1060px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  align-items: center;
}

.nav .logo .menu-btn {
  width: 17px;
  height: 14px;
  margin-right: 12px;
  margin-top: 1px;
}

.nav .logo .title {
  width: 84px;
  height: 25px;
}

.nav .logo .title img {
  width: 100%;
  height: 100%;
}

.nav .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .main-menu li a {
  padding: 15px;
  font-weight: 600;
}

.nav .sub-menu {
  display: flex;
  align-items: center;
}

.nav .sub-menu button {
  padding: 0 10px;
}

.nav .sub-menu svg {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}

.nav .sub-menu .signUp-btn {
  font-weight: 600;
}

.nav .sub-menu li:last-child {
  display: flex;
}

.nav .sub-menu li:last-child::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}

.nav .sub-menu .dashboard {
  font-size: 13px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  color: #666;
  padding: 0 10px;
  margin-left: 15px;
}

/* top-banner 영역 */
.top-banner {
  margin-top: 50px;
  padding-top: 25px;
  width: 100%;
}

.first-swiper {
  height: 300px;
}

.swiper-slide .info {
  position: absolute;
  bottom: 28px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
  text-align: left;
  left: 34px;
}

.swiper-slide .info h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333;
}

.swiper-slide img {
  border-radius: 5px;
}

/* line-banner 영역 */
.line-banner {
  margin: 60px auto;
  text-align: center;
}

.line-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #01a9fe -12%,
    #2f5fef 37%,
    #046afe 72%,
    #00d2dd 110%
  );
  border-radius: 38.5px;
  max-width: 1060px;
  margin: auto auto;
  padding: 21px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.line-banner svg {
  width: 28px;
  height: 28px;
  margin-right: 15px;
}

/* matching article */
.matching {
  background-color: rgb(245, 248, 251);
  padding-bottom: 60px;
}

.matching-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 40px;
}

.matching-header .wanted-logo1 {
  width: 80px;
  height: 80px;
}

.matching-header .wanted-logo2 {
  width: 170px;
}

.matching .matching-content {
  text-align: center;
}

.matching .matching-content h2 {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 700;
  color: #111;
  margin-bottom: 6px;
}

.matching .matching-content h2 img {
  width: 114px;
  margin-right: 3px;
}

.matching .matching-content h3 {
  color: #555;
  font-size: 16px;
}

.matching button {
  padding: 10px 20px;
  border-radius: 25px;
  line-height: 22px;
  background-color: #36f;
  font-size: 16px;
  font-weight: 700;
  color: #fefefe;
  margin: 20px auto 0 auto;
}

/* careerBanner */
.careerBanner {
  height: 150px;
  background: linear-gradient(90deg, #ddebff -0.28%, #b7d8ff);
  margin: 20px 0 60px;
}

.careerBanner .careerBanner__container {
  width: 90%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1060px;
  color: #5071dc;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  overflow-y: hidden;
}

.careerBanner .careerBanner__container .careerBanner__content button {
  border-radius: 25px;
  background-color: #5071dc;
  color: #fff;
  margin-top: 10px;
  height: 36px;
  font-size: 14px;
  width: 119px;
  font-weight: 700;
  line-height: 16px;
}

.careerBanner .careerBanner__container img {
  width: 236px;
  height: 169px;
}

/* shortcut__container */
.shortcut__container {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 60px 0 85px;
}

.shortcut__container ul {
  display: flex;
  justify-content: space-around;
}

.shortcut__container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  flex: 1 0;
}

.shortcut__container ul li:first-child {
  background-color: #f2f5ff;
  border-top-left-radius: 38.5px;
  border-bottom-left-radius: 38.5px;
  border-left: none;
}

.shortcut__container ul li:last-child {
  background-color: #f2fbf5;
  border-top-right-radius: 38.5px;
  border-bottom-right-radius: 38.5px;
}

.shortcut__container ul li button {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.shortcut__container ul li button svg {
  margin-right: 12px;
  margin-bottom: 4px;
}

/* companyIntroduce */
.companyIntroduce,
.themeBanner {
  width: 90%;
  margin: 0 auto;
  max-width: 1060px;
}

.companyIntroduce__container {
  margin-bottom: 90px;
  text-align: center;
}

.companyIntroduce__container h2,
.themeBanner__container h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 36px;
  margin-bottom: 9px;
  display: flex;
  justify-content: center;
}

.companyIntroduce .companyIntroduce__container h2 img {
  position: relative;
  bottom: 2px;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 4px;
}

.companyIntroduce .companyIntroduce__container h2 span {
  font-weight: 400;
}

.companyIntroduce .companyIntroduce__container p {
  font-size: 15px;
  color: #767676;
}

.companyIntroduce__card__picture,
.themeBanner__card img {
  width: 100%;
  height: 280px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}

.companyIntroduce__card__content__container {
  justify-content: space-between;
  margin-top: 17px;
}

.companyIntroduce__card__content {
  text-align: left;
}

.companyIntroduce__card__content h3 {
  font-size: 18px;
  font-weight: 700;
}

.companyIntroduce__card__content__img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  background-position: center;
}

.companyIntroduce__card__content__container button {
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #e1e2e3;
  border-radius: 25px;
  color: #36f;
  background-color: #fff;
  padding: 5px 25.5px;
}

.second-swiper {
  margin-top: 20px;
}

.divider {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  height: 1px;
  background-color: #ececec;
}

/* themeBanner */
.themeBanner {
  padding: 36px 0 72px 0;
}

.themeBanner h2 {
  margin-bottom: 35px;
}

.themeBanner__card img {
  height: 70%;
}

.themeBanner__card__content {
  margin-top: 16px;
  text-align: left;
}

.themeBanner__card__content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.themeBanner__card__content p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 500;
  color: #939393;
}

.themeBanner__card__logo {
  margin-top: 8px;
}

.themeBanner__card__logo img {
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}

.themeBanner__card__logo a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  bottom: 10px;
}

/* featuredJobList */
.featuredJobList {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 70px 0 50px;
}

.featuredJobList h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.05;
  color: #111;
  margin-bottom: 30px;
}

.job-list {
  margin: -10px;
}

.job-card {
  width: 25%;
  padding: 10px;
}

.job-card-header {
  padding-bottom: 75%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
}

.job-card-body {
  padding: 14px 0;
}

.job-card-body h3 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.job-card-body .job-card-company-name {
  font-weight: 600;
  margin-top: 8px;
  line-height: normal;
}

.job-card-body .job-card-company-location {
  font-weight: 400;
  color: #999;
  margin-top: 8px;
  line-height: normal;
}

.job-card-body .job-card-reward {
  font-weight: 500;
  margin-top: 8px;
}

/* footer */
footer {
  border-top: 1px solid #ececec;
  padding: 18px 0 65px;
}

.footer-top {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  align-items: center;
  justify-content: space-between;
}

.footer-top .footer-logo {
  margin-right: 35px;
}

.footer-top .footer-nav {
  align-items: center;
}

.footer-nav li a {
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 500;
  padding: 15px;
  margin-right: 15px;
}

.footer-top .sns-link a {
  padding-left: 14px;
}

.footer-bottom {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
  border-top: 1px solid #ececec;
  padding-top: 25px;
}

.footer-bottom p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6666666667em;
  color: #767676;
  width: calc(100% - 290px);
  margin-right: 40px;
}

.footer-bottom .localSelect {
  position: relative;
  width: 250px;
  height: 36px;
}

.footer-bottom .localSelect img {
  position: absolute;
  left: 15px;
  top: 32%;
  width: 24px;
  height: 17px;
  z-index: 1;
}

.footer-bottom .localSelect select {
  width: 100%;
  height: 40px;
  background: #f2f4f7;
  border-radius: 5px;
  border: none;
  color: #717171;
  padding: 0 45px;
  font-weight: 500;
  appearance: none;
}
